*{
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
    font-family: sans-serif;
}
header{
    background: red;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 30px #A4A4A4;
    border-bottom-style: solid;
    border-bottom-color: #585858;
    border-bottom-width: 5px;
}

#encabezado{
    width: 80%;
    height: 30px;
    margin: auto;
    border: 0px #000;
}

#logo{
    width: 30%;
    height: auto; overflow: hidden;
    float: left;
    color: #fff;
    font-size: 30px;
    margin-top: 55px;
}

#menu{
    width: 60%;
    height: 40px;
    float: right;
    border: 0px solid red;
    margin-top: 60px;
}
#menu ul{}
#menu ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}
#menu ul li .enlace{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
#menu ul li .enlace:hover{
    background: #585858;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}
#menu ul li .active{
    background: #585858;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    text-decoration: none;
}

/*------contenido-principal------*/
#principal{
    width: 80%;
    height: auto; overflow: hidden;
    border: 0px solid;
    margin: 10px auto;
}
#publicaciones{
    width: 70%;
    height: auto; overflow: hidden;
    border: 0px solid red;
    margin-top: 10px;
    float: left;
}
.post{
    width: 96%;
    height: auto; overflow: hidden;
    padding: 7px;
    background: rgb(240, 237, 237);
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: red;
    border-radius: 10px;
    box-shadow: 0px 0px 15px white;
    margin-bottom: 15px;
}
.enlace-post{
    text-decoration: none;
}

#publicaciones a .titulo-post{
    margin-bottom: 10px;
    color: red;
    font-size: 22px;
    font-family: ;
}
#publicaciones a .titulo-post:hover{
    text-decoration: underline;
}
#publicaciones .img-post{
    width: 160px;
    height: 160px;
    float: left;
    margin: 7px 7px 7px 0px;
    padding: 5px;
    border: 1px;
}
#publicaciones .datos-publicaciones{
    font-family: ;
    color: red;
}
#publicaciones .parrafo-post{
    font-family: ;
    font-size: 16px;
    color: black;
    padding: 5px;
}
#publicaciones .leer-mas{
    background: red;
    color: white;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}
#publicaciones .leer-mas:hover{
    background: white;
    color: red;
}
#publicaciones .comentarios{
    background: red;
    color: white;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}
#publicaciones .enlace-paginacion{
    text-decoration: none;
    color: red;
}
#publicaciones .enlace-paginacion:hover{
    text-decoration: underline;
}
#sidebar{
    float: right;
    width: 28%;
    border: 0px solid;
    height: auto; overflow: hidden;
    margin-top: 10px;
}
#buscar, #categorias, #sitios-amigos, #ultimos-post{
    border-radius: 10px;
    width: 98%;
    border: 1px solid red;
    height: auto; overflow: hidden;
    margin-bottom: 20px;
}
form{
    margin-top: 10px;
}
#buscar input[type="text"]{
    border: 1px blue;
    box-shadow: 0px 0px 5px #ccc inset;
    padding:  10px 4px;
    border-radius: 10px;
    width: 79%;
    margin-left: 4px;
    margin-bottom: 4px;

}
#buscar .boton{
    border: 0px;
    color: #fff;
    background: red;
    padding: 10px;
    border-radius: 10px;
}
.encabezado-sidebar{
    width: 100%;
    height: 35px;
    background:red;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: ;
}
.enlace-sidebar{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid red;
    padding: 10px 5px;
    color: black;
}
.enlace-sidebar:hover{
    background: #f2f2f2;
}

@media scream and (max-width:700px){
    #logo{
        font-size: 10px;
    }
    header{
        font-size: 10px;
    }
    #publicaciones a .titulo-post{
        
        font-size: 10px;
        
    }
    #menu{
        font-size: 10px;
    }

}